@import "tailwindcss";

@font-face {
    font-family: "Avenir";
    src: url("/fonts/avenir/Avenir-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/avenir/Avenir-Heavy.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/avenir/Avenir-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/avenir/Avenir-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/avenir/Avenir-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --muted-background: #f3f4f4;
    --foreground: #000000;
    --muted-foreground: #999999;

    --light-blue: #00a6db;
    --blue: #0090bf;
    --dark-blue: #09366d;
    --medium-blue: #3576a7;
    --green: #009933;
    --red: #e15e60;
}

@theme inline {
    --color-background: var(--background);
    --color-muted-background: var(--muted-background);
    --color-dark-background: var(--dark-background);
    --color-foreground: var(--foreground);
    --color-muted-foreground: var(--muted-foreground);
    --color-light-blue: var(--light-blue);
    --color-blue: var(--blue);
    --color-dark-blue: var(--dark-blue);
    --color-medium-blue: var(--medium-blue);
    --color-green: var(--green);
    --color-red: var(--red);

    --font-avenir: "Avenir", sans-serif;
}

@layer components {
    .example-component {
        @apply p-4 bg-muted-background text-foreground rounded-lg shadow-md;
    }

    .label {
        @apply flex flex-col gap-1 text-sm capitalize;
    }

    .input {
        @apply py-2.5 px-3.5 bg-white text-sm border-1 border-gray-300 rounded-xl;
    }

    .btn {
        @apply py-2.5 px-4 bg-light-blue text-white text-sm font-extrabold rounded-full hover:bg-blue transition duration-200;
    }

    .btn-secondary {
        @apply py-1.5 px-2.5 bg-dark-blue text-white text-sm rounded-xl border-2 border-dark-blue hover:bg-white hover:text-dark-blue transition duration-200;
    }

    .link {
        @apply text-blue hover:text-dark-blue hover:underline transition duration-200;
    }

    .drop-shadow {
        box-shadow: 0px 4px 4px 0px #00000008;
    }

    .full-star {
        fill: #f3cc0b;
        stroke: none;
    }

    .half-star {
        fill: #dfe4e7;
        stroke: none;
    }
}

body {
    @apply bg-muted-background text-foreground;
    font-family: "Avenir", sans-serif;
}

input,
textarea:focus,
select:focus {
    outline: none;
}

button {
    cursor: pointer;
}
